@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <div class="row">
        <a name="About Me"></a>
        <div class="text-center mt-5">
            <h1 class="display-4">About Me</h1>
            <h1 class="display-4">About Me</h1>
            <h1 class="display-4">About Me</h1>
            <h1 class="display-4">About Me</h1>
            <h1 class="display-4">About Me</h1>
            <h1 class="display-4">About Me</h1>
            <h1 class="display-4">About Me</h1>
            <h1 class="display-4">About Me</h1>
        </div>
    </div>
    <div class="row">
        <a name="Projects"></a>
        <div class="text-center mt-5">
            <h1 class="display-4">Projects</h1>
            <h1 class="display-4">Projects</h1>
            <h1 class="display-4">Projects</h1>
            <h1 class="display-4">Projects</h1>
            <h1 class="display-4">Projects</h1>
            <h1 class="display-4">Projects</h1>
            <h1 class="display-4">Projects</h1>
            <h1 class="display-4">Projects</h1>
            <div class="row row-cols-3">
                <div class="col">
                    <a class="nav-link text-light" asp-area="" asp-controller="BugTracker" asp-action="Index">Bug Tracker</a>
                </div>
                <div class="col">
                    <a class="nav-link text-light" asp-area="" asp-controller="Blog" asp-action="Index">Blog</a>
                </div>
                <div class="col">
                    <a class="nav-link text-light" asp-area="" asp-controller="FinancialPortal" asp-action="Index">Financial Portal</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <a name="Coding Challenges"></a>
        <div class="text-center mt-5">
            <h1 class="display-4">Coding Challenges</h1>
            <h1 class="display-4">Coding Challenges</h1>
            <h1 class="display-4">Coding Challenges</h1>
            <h1 class="display-4">Coding Challenges</h1>
            <h1 class="display-4">Coding Challenges</h1>
            <h1 class="display-4">Coding Challenges</h1>
            <h1 class="display-4">Coding Challenges</h1>
            <h1 class="display-4">Coding Challenges</h1>
        </div>
    </div>
</div>